@font-face {
  font-family: CanterBury;
  src: url(../Navbar/fonts/Canterbury.ttf);
}


body{
  text-decoration: none;
}
.navbar {
  background-color: #F7CA02;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  max-width: 1500px;
}

.nav-logo {
  color: black;
  align-items: center;
  margin-left: 7rem;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  flex-grow: 1;
  font-weight: 400;
  font-family: CanterBury;
}

.nav-logo-img>img{
  width: 50px;
  position: relative;
  left: 95px;
  bottom: 8px;

}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 4rem;
  
}
.fas{
  color: black;
}
.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: black;
}

.nav-item .active {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 450px) {
  .nav-logo-img{
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #F7CA02;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: black;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-logo{
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
